
#nav {
    display: block;
    background-color: purple;
    width: 99vw;
    border: 2px solid yellow;
    border-radius: 7px;
    margin: 2px;
    display: inline-block;

}


header {
    background-color: purple;
    margin-bottom: 10px;
}


#container {

    background-color: silver;

}


body {
    font-family: 'Times New Roman', Times, serif;
    background-color:whitesmoke;
}

button:hover {
    transition-duration: 0.5s;
    background-color: yellow;
}

button {
    background-color: purple;
    color: white;
    border-radius: 5px;
    border:yellow;
    padding: 9px 15px 9px 15px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
}

#quizMain {
    text-align: center;
    padding: 10vh;
    background-color: silver;
}

h4 {
    color: white;
    float: left;
    font-size: 27px;
    padding-right: 100px;
    padding-top: 4px;
}

h8 {
    color: white;
    font-size: 27px;
    padding-left: 100px;

}

a {
    text-decoration: none;
}

span {
    text-decoration: none;
}


#quiz {
    text-align: center;
}
