
#nav {
    display: block;
    background-color: whitesmoke;
    display: inline-block;
    width: 98vw;
    border: 3px solid purple;
    border-radius: 5px;
    margin: 6px;
}

header {
    background-color: purple;
}


#container {

    background-color: silver;

}


body {
    font-family: 'Times New Roman', Times, serif;
    background-color:whitesmoke;
}

button:hover {
    transition-duration: 0.4s;
    background-color: yellow;
}

button {
    background-color: purple;
    color: white;
    border-radius: 5px;
    border:yellow;
    padding: 9px 15px 9px 15px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
}

#quizMain {
    text-align: center;
    padding: 10vh;
    background-color: silver;
}

h7 {
    padding: 11px 9px 11px 9px;
}

a {
    text-decoration: none;
    color: black;
    float: left;
}

span {
    text-decoration: none;
    color: black;
    float: right;
}

#quiz {
    text-align: center;
}